<div class="container">
    <form #myForm="ngForm">
        <div class="form-group">
            <label for="exampleInputEmail1">Name</label>
            <input type="email" class="form-control" name="name" aria-describedby="emailHelp" [(ngModel)]="productObj.name">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Description</label>
            <input type="email" class="form-control" name="description" aria-describedby="emailHelp" [(ngModel)]="productObj.description">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Price</label>
            <input type="email" class="form-control" name="price" aria-describedby="emailHelp" [(ngModel)]="productObj.price">
        </div>

        <button type="button" class="btn btn-outline-primary" (click)="addProduct(myForm.value); myForm.resetForm()" *ngIf="!isEdit">gitAdd</button>
        <button type="button" class="btn btn-outline-info" (click)="updateProduct(myForm.value)" *ngIf="isEdit">Update</button>
    </form>
    <br><br>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Code</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Price</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of allProduct">
                <td> {{ product.id }} </td>
                <td> {{ product.name }} </td>
                <td> {{ product.description }} </td>
                <td> {{ product.price }} </td>
                <td> <button (click)="editProduct(product)" class="btn btn-outline-warning">Edit</button> </td>
                <td> <button (click)="deleteProduct(product)" class="btn btn-outline-danger">Delete</button> </td>
            </tr>
        </tbody>
    </table>
</div>